jakartaee/target/jakartaee.war
jakartaee/target/classes/.netbeans_automatic_build
jakartaee/target/classes/it/tss/jakartaee/JAXRSConfiguration.class
jakartaee/target/classes/it/tss/jakartaee/ping/boundary/PingResource.class
jakartaee/target/classes/META-INF/microprofile-config.properties
jakartaee/target/classes/Prodotti/Prodotto.class
jakartaee/target/classes/Prodotti/ProdottoStore.class
jakartaee/target/classes/web/HelloServlet.class
jakartaee/target/classes/web/httpServlet.class
jakartaee/target/classes/web/ProdottoController.class
jakartaee/target/classes/web/Registrati.class
jakartaee/target/jakartaee/deprecato.jsp
jakartaee/target/jakartaee/elenco-prodotti.jsp
jakartaee/target/jakartaee/Hello.xhtml
jakartaee/target/jakartaee/index.html
jakartaee/target/jakartaee/jstl.jsp
jakartaee/target/jakartaee/pfv5ee8.dpf
jakartaee/target/jakartaee/registrati.html
jakartaee/target/jakartaee/WEB-INF/beans.xml
jakartaee/target/jakartaee/WEB-INF/web.xml
jakartaee/target/jakartaee/WEB-INF/classes/it/tss/jakartaee/JAXRSConfiguration.class
jakartaee/target/jakartaee/WEB-INF/classes/it/tss/jakartaee/ping/boundary/PingResource.class
jakartaee/target/jakartaee/WEB-INF/classes/META-INF/microprofile-config.properties
jakartaee/target/jakartaee/WEB-INF/classes/Prodotti/Prodotto.class
jakartaee/target/jakartaee/WEB-INF/classes/Prodotti/ProdottoStore.class
jakartaee/target/jakartaee/WEB-INF/classes/web/HelloServlet.class
jakartaee/target/jakartaee/WEB-INF/classes/web/httpServlet.class
jakartaee/target/jakartaee/WEB-INF/classes/web/ProdottoController.class
jakartaee/target/jakartaee/WEB-INF/classes/web/Registrati.class
jakartaee/target/jakartaee/WEB-INF/lib/primefaces-8.0.jar
jakartaee/target/maven-archiver/pom.properties
jakartaee/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
jakartaee/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
jakartaee/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
jakartaee/target/test-classes/.netbeans_automatic_build
